<p style="color: green"><%= notice %></p>

<%= image_tag(@item.cover, size: "200x200") %>
  <%= link_to "Delete" %>
  <%# , delete_attachment_items_url(@item.cover.id), method: :delete %>

  <% @item.uploads.each do |i| %>
    <%= image_tag(i, size: "200x200") %>
    <%= link_to "Delete" %>
    <%# , delete_attachment_items_url(i) %>
  <% end %>

<%= render @item %>

<div>
  <%= link_to "Edit this item", edit_item_path(@item) %> |
  <%= link_to "Back to items", items_path %>

  <%= button_to "Destroy this item", @item, method: :delete %>
</div>
